<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport>
    <mat-toolbar>Secciones</mat-toolbar>
    <mat-nav-list style="background-color:#e3f2fd;">
      <a mat-list-item href="index.html">Control BML</a>
      <a mat-list-item href="repositorio.component.html">Repositorio</a>
      <a mat-list-item href="admin-user.component.html">Administrar Perfil</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <mat-accordion>
    </mat-accordion>
  </mat-sidenav-content>
</mat-sidenav-container>
