.fondo{
  background: linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 100.28%);
  width: auto;
  height: 120%;
  padding: 40px;
}
.fondo2{
  width: 87%;
  height: 80%;
  background: #3C0D77;
  border-radius: 20px;
  padding: 40px 40px 40px 100px;
}
p{
  font-style: normal;
  font-weight: 400;
  top: 0pxs;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #F2994A;
  height: 21px;
}
h2{
  height: fit-content;
  width: 100px;
  left: 447px;
  bottom:   200px;
  text-align: center;
  font-style: normal;
  font-weight: 200;
  font-size: 30px;
  line-height: 50px;
  color: #99EFD0;
}
.combobox{
  width: 200px;
  height: auto;
  background: #F2994A;
  border-radius: 10px;
  padding: 0 15px;
}
button{
  width: 90 px;
  height: 100px;
  padding: auto;
  background: #F2994A;
  color: white;
}
button:first-child{
  margin-left: 200px;
}
.layout{
  width: 200px;
  height: auto;
  background: #F2994A;
  color: white;
}
.not-empty-select.mat-selected {
  color: green !important;
}
.fila{
  height: 100px;
}
td{
  width: 15%;
}

table{
  width:  auto;
  padding: auto;
  margin-bottom: 100px;
  top: 300px;
  height: 10px;
}